-
    var socialLinks = [
        {
            name: 'vk',
            link: 'https://vk.com/#'
        },
        {
            name: 'github',
            link: 'https://github.com/onbalt'
        },
        {
            name: 'in',
            link: 'https://www.instagram.com/#'
        }
    ]
-
    var menuHeader = [
        {
            name: 'Мои работы',
            link: 'works.html'
        },
        {
            name: 'Блог',
            link: 'blog.html'
        },
        {
            name: 'Обо мне',
            link: 'about.html'
        },
        {
            name: 'Авторизация',
            link: 'index.html#auth'
        }
    ]