.map {
  min-height: 974px;
  background: #f2f2f2 center top no-repeat url("/assets/img/map_bg.jpg");
  position: relative;
  margin: 27px 0 0;
  &__contacts {
    top: 274px;
    position: absolute;
    width: 580px;
    height: 282px;
    left: 50%;
    margin-left: -290px;
    background-color: rgba(255,255,255,.7);
  }
}
.contacts {
  &__list {
    list-style: none;
    margin: 18px 0;
    padding: 0;
    color: #616674;
  }
  &__item {
    float: left;
    width: 50%;
    margin: 2px 0 25px;
    position: relative;
  }
  &__svg {
    width: 45px;
    height: 45px;
    margin: 0 10px 0 19px;
    fill: #004cd1;
  }
  &__title {
    position: absolute;
    top: 15px;
  }
}