mixin menu__list(list)
    ul.menu__list
        each item in list
            li.menu__item
                a.menu__link(class={menu__link_active: pageAlias === item.link} href=`${item.link}`)= item.name