html {
  position: relative;
  height: 100%;
  font-size: $font-size__base;
}
body {
  //min-width: 1200px;
  height: 100%;
  color: $color-text__base;
  font-size: $font-size__base;
  font-family: $font-family__base;
  @include breakpoint($desktop) {
    min-width: $tablet2;
  }
  @include breakpoint($tablet2) {
    min-width: $tablet;
  }
  @include breakpoint($tablet) {
    min-width: $mobile;
  }
  @include breakpoint($mobile) {
    min-width: 100%;
  }
}
.wrapper {
  position: relative;
  margin: 0 auto;
  //width: 1200px;
  @include clearfix();
  //@include breakpoint($desktop) {
  //  width: $tablet2;
  //}
  //@include breakpoint($tablet2) {
  //  width: $tablet;
  //}
  //@include breakpoint($tablet) {
  //  width: $mobile;
  //}
  //@include breakpoint($mobile) {
  //  width: 100%;
  //}
}
a {
  transition: 0.4s;
}
p {
  margin: .7em 0 .7em;
  line-height: 1.5;
}
.left-side {
  float: left;
}
.right-side {
  float: right;
}
.column2 {
  float: left;
  box-sizing: border-box;
  width: 50%;
  @include breakpoint($tablet) {
    float: none;
    width: 100%;
  }
}
.column3 {
  float: left;
  box-sizing: border-box;
  width: 33.33%;
}

.heading {
  margin: 9px 0;
  text-align: center;
  text-transform: uppercase;
  letter-spacing: 1px;
  font-weight: 400;
  font-size: 63px;
  font-family: $font-family__heading;
  line-height: 66px;
}
.heading-line {
  margin: 14px 0;
  text-align: center;
  text-transform: uppercase;
  font-size: 35px;
  font-family: $font-family__heading;
  &::after {
    display: block;
    margin: 11px auto 0;
    width: 90px;
    border-bottom: 3px solid $color-text__base;
    content: "";
  }
  &_after_lighter {
    margin: 28px 0;
    &::after {
      margin-top: 23px;
      border-color: #878e9e;
    }
  }
}
.developer {
  margin: 20px auto;
  max-width: 580px;
  width: 100%;
  color: $color-text__main;
  text-align: center;
  &__svg {
    position: absolute;
    top: 0;
    display: block;
    max-height: 273px;
    width: 92%;
    height: 100%;
    opacity: .07;
  }
  &__photo-wrap {
    position: relative;
    overflow: hidden;
    margin: 0 auto 20px;
    width: 141px;
    height: 141px;
    border-radius: 50%;
  }
  &__photo {
    max-width: 100%;
  }
  &__name {
    position: relative;
    margin-bottom: 7px;
    font-weight: $font-weight__medium;
    font-size: 35px;
  }
  &__text {
    position: relative;
  }
  &-photo {
    margin: 40px 0 27px;
    &__image {
      min-height: 390px;
    }
  }
}

.header{
  position: relative;
  overflow: hidden;
  min-height: 370px;
  height: 100%;
  background: #223b65 center no-repeat url("/assets/img/header_bg.jpg");
  &__wrapper {
    height: 100%;
  }
  &__side-wrap {
    height: 100px;
  }
  &__developer {
    position: absolute;
    top: 50%;
    left: 50%;
    margin: -182px 0 0 -290px;
    padding: 35px 0 12px;
    &_compact {
      margin-top: -150px;
    }
  }
  &_fullscreen {
    min-height: 550px;
  }
  &_triangles {
    &::before {
      position: absolute;
      bottom: 0;
      width: 100%;
      height: 169px;
      content: "";
      background: {
        image:
          linear-gradient(-170deg, transparent 166px, $color-bg__col-1 167px),
          linear-gradient(170deg, transparent 166px, $color-bg__col-2 167px);
        position: 0 100%, 100% 100%;
        repeat: no-repeat;
        size: 50% 100%;
      }
    }
  }
  &_theme_dark {
    min-height: 600px;
    &::before {
      background: {
        image:
          linear-gradient(-170deg, transparent 166px, $color-bg__theme_dark 167px),
          linear-gradient(170deg, transparent 166px, $color-bg__theme_dark 167px);
      }
      bottom: 184px;
      opacity: .85;
    }
    &::after {
      position: absolute;
      bottom: 0;
      width: 100%;
      height: 184px;
      background: $color-bg__theme_dark;
      content: "";
      opacity: .85;
    }
  }
  &_compact {
    max-height: 400px;
    background-position-y: 67%;
    &::before {
      background: {
        image:
          linear-gradient(-170deg, transparent 166px, $color-bg__compact 167px),
          linear-gradient(170deg, transparent 166px, $color-bg__compact 167px);
      }
    }
  }
  &-heading {
    position: absolute;
    bottom: -10px;
    z-index: 9;
    width: 100%;
    height: 188px;
    &__heading {
      position: relative;
      top: -133px;
      margin: 0;
      color: $color-text__main;
    }
  }
  &-heading__svg {
    position: relative;
    bottom: 9px;
    display: block;
    margin: 0 auto;
    width: 400px;
    height: 188px;
    color: $color-text__main;
    opacity: .15;
    transform: rotate(189deg);
  }
  &__btn {
    position: relative;
    z-index: 99;
    display: block;
    margin: 20px;
    padding: 10px 25px;
    border: 1px solid $color-text__main;
    color: $color-text__main;
    text-decoration: none;
    transition: 0.4s;
    &:hover, &:active, &:focus {
      border: 1px solid rgba(0, 76, 209, 0.5);
      background: rgba(0, 76, 209, 0.5);
    }
  }
}
.socials{
  &__list {
    margin: 18px;
    padding: 0;
    list-style: none;
    @include clearfix();
  }
  &__item {
    float: left;
    margin: 14px;
    max-width: 28px;
    height: 22px;
  }
  &__link {
    color: $color-text__main;
    &:hover, &:active, &:focus {
      color: $color-text__accent;
    }
  }
  &__svg {
    max-width: 100%;
    max-height: 100%;
    transition: 0.4s;
  }
}
.menu {
  &__open-link {
    display: block;
  }
  &__svg {
    margin: 28px 31px;
    width: 40px;
    height: 35px;
    color: $color-text__main;
  }
  &__fullscreen {
    position: fixed;
    top: 0;
    left: 0;
    z-index: 9999;
    margin: 0;
    width: 100%;
    height: 100%;
    background: #183669;
    background: rgba(24,54,105,.87);
  }
  &__list {
    margin: 0;
    padding: 15% 0 0;
    list-style: none;
    text-align: center;
    text-transform: uppercase;
    font-weight: 400;
    font-size: 63px;
    font-family: $font-family__heading;
    line-height: 116px;
  }
  &_closed &__fullscreen {
    display: none;
  }
  &__item {
    margin: 28px 0;
  }
  &__link {
    display: block;
    color: $color-text__menu;
    text-decoration: none;
    &::after {
      display: block;
      margin: -3px auto 0;
      width: 90px;
      border-bottom: 3px solid $color-text__menu;
      content: "";
      opacity: 0;
      transition: 0.5s;
    }
    &:hover, &:active, &:focus {
      &::after {
        opacity: 1;
      }
    }
  }
}
.main {
  background: linear-gradient(90deg, $color-bg__col-1 50%, $color-bg__col-2 50%);
  &-col-1 {
    padding: 0 6% 15px 7%;
    background: $color-bg__col-1;
    &-heading-wrap {
      position: relative;
      @include breakpoint($large) {
        float: left;
        width: 40%;
      }
    }
    &__heading {
      margin: 30px 0 55px;
    }
    &-wrap {
      @include breakpoint($large) {
        float: right;
        width: 60%;
      }
    }
    &-heading__svg {
      position: absolute;
      top: -30px;
      left: 50%;
      display: block;
      margin: 0 0 0 -150px;
      width: 300px;
      color: $color-text__accent;
      opacity: .10;
      transform: rotate(189deg);
    }
  }
  &-col-2 {
    padding: 15px 3.3%;
    background: $color-bg__col-2;
    @include breakpoint($tablet) {
      padding: 0 6% 15px 7%;
    }
    &__heading-line {
      margin: 12px 0 36px;
    }
  }
  &_fullscreen {
    position: absolute;
    top: 0;
    min-height: 550px;
    width: 100%;
    height: 100%;
    background: none;
  }
  &_compact {
    background: $color-bg__compact;
  }
  &__developer {
    position: absolute;
    top: 50%;
    left: 50%;
    box-sizing: border-box;
    margin: -200px 0 0 -200px;
    padding: 35px 0 0;
    width: 400px;
    height: 400px;
    background: rgba(28,31,41,0.5);
  }
}
.index {
  &-socials {
    margin: 18px auto;
    width: 204px;
  }
  &-menu {
    &__list {
      position: absolute;
      bottom: 0;
      margin: 0;
      padding: 0;
      list-style: none;
      text-align: center;
      font-weight: $font-weight__medium;
      line-height: 36px;
      @include clearfix();
    }
    &_closed &__fullscreen {
      display: none;
    }
    &__item {
      float: left;
      margin: 0;
      border-right: 1px $color-text__menu solid;
      &:last-of-type {
        border-right: none;
      }
    }
    &__link {
      display: block;
      padding: 7px 35px 7px 34px;
      background: rgba(0,76,209,.85);
      color: $color-text__menu;
      text-decoration: none;
      transition: 0.4s;
      &:hover, &:active, &:focus {
        background: rgba(4,62,163,.85);
      }
    }
  }
}
.blog {
  &-col-1 {
    padding: 100px 100px 200px 0;
    width: 33%;
  }
  &-col-2 {
    padding: 100px 0 200px;
    width: 66%;
    max-width: 880px;
  }
  &-menu {
    float: right;
    max-width: 280px;
    &__list {
      margin: 20px 0 0;
      padding: 0;
      color: $color-text__blog-menu;
      list-style: none;
      text-align: right;
      line-height: 26px;
    }
    &__item {
      margin: 0;
    }
    &__link {
      display: block;
      margin: 10px 0;
      padding: 5px 15px;
      border-right: 3px transparent solid;
      color: $color-text__blog-menu;
      text-decoration: none;
      transition: 0.5s;
      &_active,
      &:hover, &:active, &:focus {
        border-right: 3px $color-text__accent2 solid;
        color: $color-text__accent2;
        font-weight: $font-weight__bold;
      }
    }
  }
}
.article {
  margin: 0 0 50px;
  &__heading {
    margin: 0 0 15px;
    color: #455a64;
    text-align: left;
    font-size: 35px;
    line-height: 41px;
  }
  &__date {
    margin: 0 0 20px;
    color: rgba(8,60,150,0.7);
  }
}