html {
  position: relative;
  //min-height: 100%;
  height: 100%;
  font-size: 16px;
}
body {
  //margin: 0 0 185px;
  height: 100%;
  min-width: 1200px;
  font-family: "RobotoRegular", sans-serif;
  font-size: 16px;
}
.wrapper {
  width: 1200px;
  position: relative;
  margin: 0 auto;
  @include clearfix();
}
p {
  margin: .7em 0 .7em;
  line-height: 1.5;
}
.left-side {
  float: left;
}
.right-side {
  float: right;
}
.column2 {
  width: 50%;
  float: left;
  box-sizing: border-box;
}
.column3 {
  width: 33.33%;
  float: left;
  box-sizing: border-box;
}

.header{
  position: relative;
  min-height: 370px;
  //max-height: 880px;
  height: 100%;
  background: #223b65 center no-repeat url("/assets/img/header_bg.jpg");
  overflow: hidden;
  &__wrapper {
    height: 100%;
  }
  &__side-wrap {
    height: 100px;
  }
  &_triangles {
    &::before {
      content: "";
      position: absolute;
      bottom: 0;
      width: 100%;
      height: 169px;
      background: {
        image: linear-gradient(-170deg, transparent 166px, #f2f0e8 167px),
        linear-gradient(170deg, transparent 166px, #f4f5f0 167px);
        position: 0 100%, 100% 100%;
        repeat: no-repeat;
        size: 50% 100%;
      }
    }
  }
  &_theme_dark {
    min-height: 600px;
    &::before {
      background: {
        image:
          linear-gradient(-170deg, transparent 166px, #0d1120 167px),
          linear-gradient(170deg, transparent 166px, #0d1120 167px);
      }
      bottom: 184px;
      opacity: .85;
    }
    &::after {
      content: "";
      position: absolute;
      bottom: 0;
      width: 100%;
      height: 184px;
      background: #0d1120;
      opacity: .85;
    }
  }
  &_compact {
    max-height: 400px;
    background-position-y: 67%;
    &::before {
      background: {
        image:
          linear-gradient(-170deg, transparent 166px, #faf8f0 167px),
          linear-gradient(170deg, transparent 166px, #faf8f0 167px);
      }
    }
  }
  &-heading {
    position: absolute;
    z-index: 9;
    bottom: -10px;
    width: 100%;
    height: 188px;
  }
  &-heading__svg {
    color: #fff;
    fill: currentColor;
    stroke: currentColor;
    margin: 0 auto;
    width: 400px;
    height: 188px;
    display: block;
    bottom: 9px;
    transform: rotate(189deg);
    position: relative;
    opacity: .15;
    //left: -22px;
  }
  &__btn {
    display: block;
    position: relative;
    margin: 20px;
    padding: 10px 25px;
    z-index: 99;
    color: #fff;
    border: 1px solid #fff;
    text-decoration: none;
    &:hover, &:active, &:focus {
      background: rgba(0, 76, 209, 0.5);
    }
  }
}
.socials{
  &__list {
    list-style: none;
    margin: 18px;
    padding: 0;
    @include clearfix();
  }
  &__item {
    float: left;
    margin: 14px;
    max-width: 28px;
    height: 22px;
  }
  &__link {
    color: #fff;
    &:hover, &:active, &:focus {
      .socials__svg {
        fill: #004cd1;
      }
    }
  }
  &__svg {
    max-width: 100%;
    max-height: 100%;
    fill: currentColor;
  }
}
.menu {
  &__open-link {
    display: block;
  }
  &__svg {
    margin: 28px 31px;
    fill: #fff;
    width: 40px;
    height: 35px;
  }
  &__fullscreen {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    margin: 0;
    background: #183669;
    background: rgba(24,54,105,.87);
    z-index: 9999;
  }
  &__list {
    list-style: none;
    padding: 15% 0 0;
    margin: 0;
    text-align: center;
    font-family: "SansusWebissimoRegular", sans-serif;
    font-size: 63px;
    line-height: 116px;
    font-weight: 400;
    text-transform: uppercase;
  }
  &_closed &__fullscreen {
    display: none;
  }
  &__item {
    margin: 28px 0;
  }
  &__link {
    color: #fff;
    text-decoration: none;
    display: block;
    &:hover, &:active, &:focus {
      &::after {
        display: block;
        content: "";
        width: 90px;
        margin: -3px auto 0;
        border-bottom: 3px solid #fff;
      }
    }
  }
}
.developer {
  width: 100%;
  max-width: 580px;
  margin: 20px auto;
  text-align: center;
  color: #fff;
  &__svg {
    display: block;
    position: absolute;
    top: 0;
    width: 92%;
    height: 100%;
    max-height: 273px;
    fill: currentColor;
    stroke: currentColor;
    opacity: .07;
  }
  &__photo-wrap {
    position: relative;
    width: 141px;
    height: 141px;
    margin: 0 auto 20px;
    border-radius: 50%;
    overflow: hidden;
  }
  &__photo {
    max-width: 100%;
  }
  &__name {
    position: relative;
    font-family: "RobotoMedium", sans-serif;
    font-size: 35px;
    margin-bottom: 7px;
  }
  &__text {
    position: relative;
    //font-family: "RobotoRegular", sans-serif;
    //font-size: 16px;
  }
}
.header__developer {
  position: absolute;
  top: 50%;
  left: 50%;
  margin: -182px 0 0 -290px;
  padding: 35px 0 12px;
  &_compact {
    margin-top: -150px;
  }
}
.main {
  //padding: 10px 0;
  background: linear-gradient(90deg, #f2f0e8 50%, #f4f5f0 50%);
  &-col-1 {
    background: #f2f0e8;
    padding: 0 77px 0 80px;
  }
  &-col-2 {
    background: #f4f5f0;
    padding: 0 39px;
  }
  &_fullscreen {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    background: none;
    min-height: 370px;
  }
  &_compact {
    background: #faf8f0;
  }
  &__developer {
    position: absolute;
    top: 50%;
    left: 50%;
    margin: -200px 0 0 -200px;
    padding: 35px 0 0;
    background: rgba(28,31,41,0.5);
    width: 400px;
    height: 400px;
    box-sizing: border-box;
  }
}
.heading {
  font-family: "SansusWebissimoRegular", sans-serif;
  font-size: 63px;
  margin: 9px 0;
  line-height: 66px;
  font-weight: 400;
  text-transform: uppercase;
  letter-spacing: 1px;
  text-align: center;
}
.header-heading__heading {
  color: #fff;
  margin: 0;
  position: relative;
  top: -133px;
}
.heading-line {
  font-family: "SansusWebissimoRegular", sans-serif;
  font-size: 35px;
  margin: 14px 0;
  text-transform: uppercase;
  text-align: center;
  &::after {
    display: block;
    content: "";
    width: 90px;
    margin: 11px auto 0;
    border-bottom: 3px solid #000;
  }
  &_after_lighter {
    margin: 28px 0;
    &::after {
      margin-top: 23px;
      border-color: #878e9e;
    }
  }
}
.main-col-2__heading-line {
  margin: 12px 0 36px;
}
.developer-photo {
  margin: 50px 0 27px;
  &__image {
    min-height: 390px;
  }
}
.index {
  &-socials {
    margin: 18px auto;
    width: 204px;
  }
  &-menu {
    &__list {
      list-style: none;
      padding: 0;
      margin: 0;
      text-align: center;
      font-family: "RobotoMedium", sans-serif;
      line-height: 36px;
      bottom: 0;
      position: absolute;
      @include clearfix();
    }
    &_closed &__fullscreen {
      display: none;
    }
    &__item {
      margin: 0;
      float: left;
      border-right: 1px #fff solid;
      &:last-of-type {
        border-right: none;
      }
    }
    &__link {
      padding: 7px 35px 7px 34px;
      color: #fff;
      text-decoration: none;
      display: block;
      background: rgba(0,76,209,.85);
      &:hover, &:active, &:focus {
        background: rgba(4,62,163,.85);
      }
    }
  }
}
.blog {
  &-col-1 {
    width: 33%;
    padding: 100px 100px 200px 0;
  }
  &-col-2 {
    width: 66%;
    padding: 100px 0 200px;
  }
  &-menu {
    &__list {
      list-style: none;
      padding: 0;
      margin: 20px 0 0;
      text-align: right;
      line-height: 26px;
      color: #566358;
    }
    &__item {
      margin: 0;
    }
    &__link {
      margin: 10px 0;
      padding: 5px 15px;
      color: #566358;
      text-decoration: none;
      display: block;
      border-right: 3px transparent solid;
      &_active,
      &:hover, &:active, &:focus {
        font-family: "RobotoBold", sans-serif;
        font-weight: 600;
        border-right: 3px #083c96 solid;
        color: #083c96;
      }
    }
  }
}
.article {
  margin: 0 0 50px;
  &__heading {
    margin: 0 0 15px;
    font-size: 35px;
    text-align: left;
    color: #455a64;
    line-height: 41px;
  }
  &__date {
    color: rgba(8,60,150,0.7);
    margin: 0 0 20px;
  }
}