extends ../_template

block variables
    - var pageAlias = 'about.html'
    - var pageTitle = 'Обо мне'

block content
    .wrapper
        .column2.main-col-1
            h1.heading Обо мне
            .developer-photo
                //img.developer-photo__image(src="/assets/img/avatar_big.jpg")
                img.developer-photo__image(src="/assets/img/avatar.jpg")
            h2.heading-line Кто я
            p Я веб разработчик из Новосибирска. Мне 27 лет. Я занимаюсь разработкой современных сайтов и приложений. Мне нравится делать интересные и современные проекты.
            p Этот сайт я сделал в рамках обучения в Школе онлайн образования LoftSchool. Чуть позже я освежу в нём свой контент. А пока посмотрите,как тут всё классно и красиво!
        .column2.main-col-2
            h2.heading-line.main-col-2__heading-line Чем я могу быть <br> вам полезен
            p Больше всего меня привлекет Frontend разработка, но я также знаком и могу решать не сложные задачи на Backend. Но давайте по порядку.
            .skills
                h3.skills__header Frontend
                ul.skills__list
                    +skillsItem(11, 77)
                    +skillsItem(22, 60)
                    +skillsItem(33, 33)
                .clearfix
                h3.skills__header Backend
                ul.skills__list
                    +skillsItem(111, 40)
                    +skillsItem(222, 90)
                    +skillsItem(333, 30)
                    +skillsItem(444, 11)
                .clearfix
                h3.skills__header WorkFlow
                ul.skills__list
                    +skillsItem(1111, 55)
                    +skillsItem(2222, 44)
                    +skillsItem(3333, 66)
        .clearfix
    .map
        .map__wrap
        .contacts.map__contacts
            h2.heading-line.contacts__heading-line Контакты
            ul.contacts__list
                li.contacts__item Skype
                li.contacts__item Phone
                li.contacts__item Mail
                li.contacts__item Address