extends ../_template

block variables
    - var pageAlias = 'about'
    - var pageLink = pageAlias + '.html'
    - var pageTitle = 'Обо мне'

block content
    .wrapper
        .column2.main-col-1
            .main-col-1-heading-wrap
                +svgItem("main-col-1-heading", "stars2")
                h1.heading.main-col-1__heading Обо мне
            .main-col-1-wrap
                .developer-photo
                    //img.developer-photo__image(src="/assets/img/avatar_big.jpg")
                    img.developer-photo__image(src="/assets/img/avatar.jpg")
                h2.heading-line Кто я
                p Я веб разработчик из Новосибирска. Мне 27 лет. Я занимаюсь разработкой современных сайтов и приложений. Мне нравится делать интересные и современные проекты.
                p Этот сайт я сделал в рамках обучения в Школе онлайн образования LoftSchool. Чуть позже я освежу в нём свой контент. А пока посмотрите,как тут всё классно и красиво!
        .column2.main-col-2
            h2.heading-line.main-col-2__heading-line Чем я могу быть <br> вам полезен
            p Больше всего меня привлекет Frontend разработка, но я также знаком и могу решать не сложные задачи на Backend. Но давайте по порядку.
            .skills
                h3.skills__header Frontend
                ul.skills__list
                    +skillsItem(11, 77)
                    +skillsItem(22, 60)
                    +skillsItem(33, 33)
                h3.skills__header Backend
                ul.skills__list
                    +skillsItem(111, 40)
                    +skillsItem(222, 90)
                    +skillsItem(333, 30)
                    +skillsItem(444, 11)
                h3.skills__header WorkFlow
                ul.skills__list
                    +skillsItem(1111, 55)
                    +skillsItem(2222, 44)
                    +skillsItem(3333, 66)
    .map
        .map__wrap
        .contacts.map__contacts
            h2.heading-line.heading-line_after_lighter Контакты
            ul.contacts__list
                li.contacts__item
                    +svgItem('contacts', 'skype_n')
                    span.contacts__title Skype
                li.contacts__item
                    +svgItem('contacts', 'phone_n')
                    span.contacts__title Phone
                li.contacts__item
                    +svgItem('contacts', 'envelope_n')
                    span.contacts__title Mail
                li.contacts__item
                    +svgItem('contacts', 'map_n')
                    span.contacts__title Address
        .empty-footer.map__empty-footer