extends ../_template

block variables
    - var pageAlias = 'blog'
    - var pageLink = pageAlias + '.html'
    - var pageTitle = 'Блог'

block header_developer-text
    .header-heading-compact
        h1.heading.header-heading-compact__heading Блог
        .header-heading-compact__subheading Статьи, которые я написал

block content
    .wrapper
        .column2.blog-col-1
            .blog-menu
                ul.blog-menu__list
                    li.blog-menu__item
                        a.blog-menu__link.blog-menu__link_active(href="#article1") Самое важное в SASS
                    li.blog-menu__item
                        a.blog-menu__link(href="#article2") Приёмы в вёрстке, без которых не обходится ни один сайт
                    li.blog-menu__item
                        a.blog-menu__link(href="#article3") Самый необходимый набор Gulp плагинов
                    li.blog-menu__item
                        a.blog-menu__link(href="#article4") Почему я выбрал Pug (Jade)
        .column2.blog-col-2
            .article#article1
                h2.heading.article__heading Самое важное в SASS
                .article__date 22 ноября 2016
                .article__preview
                    p.
                        Таким образом начало повседневной работы по формированию позиции позволяет
                        выполнять важные задания по разработке направлений прогрессивного развития.
                        Разнообразный и богатый опыт новая модель организационной деятельности играет
                        важную роль в формировании новых предложений. Товарищи! новая модель организационной
                        деятельности играет важную роль в формировании систем массового участия.
                    p.
                        Не следует, однако забывать, что укрепление и развитие структуры обеспечивает
                        широкому кругу (специалистов) участие в формировании систем массового участия.
                        Идейные соображения высшего порядка, а также рамки и место обучения кадров
                        обеспечивает широкому кругу (специалистов) участие в формировании позиций,
                        занимаемых участниками в отношении поставленных задач. Товарищи! постоянный
                        количественный рост и сфера нашей активности способствует подготовки и реализации
                        модели развития. С другой стороны рамки и место обучения кадров влечет за собой
                        процесс внедрения и модернизации системы обучения кадров, соответствует насущным потребностям.
            .article#article2
                h2.heading.article__heading Приёмы в вёрстке, без которых не обходитсяни один сайт
                .article__date 13 ноября 2016
                .article__preview
                    p.
                        Таким образом начало повседневной работы по формированию позиции позволяет
                        выполнять важные задания по разработке направлений прогрессивного развития.
                        Разнообразный и богатый опыт новая модель организационной деятельности играет
                        важную роль в формировании новых предложений. Товарищи! новая модель организационной
                        деятельности играет важную роль в формировании систем массового участия.
                    p.
                        Не следует, однако забывать, что укрепление и развитие структуры обеспечивает
                        широкому кругу (специалистов) участие в формировании систем массового участия.
                        Идейные соображения высшего порядка, а также рамки и место обучения кадров
                        обеспечивает широкому кругу (специалистов) участие в формировании позиций,
                        занимаемых участниками в отношении поставленных задач. Товарищи! постоянный
                        количественный рост и сфера нашей активности способствует подготовки и реализации
                        модели развития. С другой стороны рамки и место обучения кадров влечет за собой
                        процесс внедрения и модернизации системы обучения кадров, соответствует насущным потребностям.
            .article#article3
                h2.heading.article__heading Самый необходимый набор Gulp плагинов
                .article__date 03 ноября 2016
                .article__preview
                    p.
                        Таким образом начало повседневной работы по формированию позиции позволяет
                        выполнять важные задания по разработке направлений прогрессивного развития.
                        Разнообразный и богатый опыт новая модель организационной деятельности играет
                        важную роль в формировании новых предложений. Товарищи! новая модель организационной
                        деятельности играет важную роль в формировании систем массового участия.
                    p.
                        Не следует, однако забывать, что укрепление и развитие структуры обеспечивает
                        широкому кругу (специалистов) участие в формировании систем массового участия.
                        Идейные соображения высшего порядка, а также рамки и место обучения кадров
                        обеспечивает широкому кругу (специалистов) участие в формировании позиций,
                        занимаемых участниками в отношении поставленных задач. Товарищи! постоянный
                        количественный рост и сфера нашей активности способствует подготовки и реализации
                        модели развития. С другой стороны рамки и место обучения кадров влечет за собой
                        процесс внедрения и модернизации системы обучения кадров, соответствует насущным потребностям.
            .article#article4
                h2.heading.article__heading Почему я выбрал Pug (Jade)
                .article__date 00 ноября 2016
                .article__preview
                    p.
                        Таким образом начало повседневной работы по формированию позиции позволяет
                        выполнять важные задания по разработке направлений прогрессивного развития.
                        Разнообразный и богатый опыт новая модель организационной деятельности играет
                        важную роль в формировании новых предложений. Товарищи! новая модель организационной
                        деятельности играет важную роль в формировании систем массового участия.
                    p.
                        Не следует, однако забывать, что укрепление и развитие структуры обеспечивает
                        широкому кругу (специалистов) участие в формировании систем массового участия.
                        Идейные соображения высшего порядка, а также рамки и место обучения кадров
                        обеспечивает широкому кругу (специалистов) участие в формировании позиций,
                        занимаемых участниками в отношении поставленных задач. Товарищи! постоянный
                        количественный рост и сфера нашей активности способствует подготовки и реализации
                        модели развития. С другой стороны рамки и место обучения кадров влечет за собой
                        процесс внедрения и модернизации системы обучения кадров, соответствует насущным потребностям.
