extends ../_index

block variables
  - var pageAlias = 'index'
  - var pageLink = pageAlias + '.html'
  - var pageTitle = 'Личный сайт веб разработчика'

block content
  .developer.main__developer
    //.header__developer-svg
    //+svgItem("developer", "stars1")
    //-.developer_inner
    .developer__photo-wrap
      img.developer__photo(src="/assets/img/avatar.jpg")
    .developer__name Boris Dvorianchikov
    .developer__text Личный сайт веб разработчика
    .index-socials
      +socials(socialLinks)
    +index-menu__list(menuIndex)