extends ../_template

block variables
    - var pageAlias = 'works'
    - var pageLink = pageAlias + '.html'
    - var pageTitle = 'Мои работы'

block header_heading
    .header-heading
        +svgItem("header-heading", "stars2")
        h1.heading.header-heading__heading Мои работы
block content
    .works-portfolio
        .wrapper
            .slider.portfolio
                .slider-current.portfolio__slider-current
                    .slider-current__wrap.portfolio__slider-current__wrap
                        .slider-current__heading.heading-line.heading-line_after_lighter Test Сайт школы онлайн образования
                        .slider-current__text.portfolio__slider-current__text PHP, JS, HTML, CSS
                        a.slider-current__link.portfolio__slider-current__link(href="#1")
                            +svgItem("portfolio-link", "link")
                            span Посмотреть сайт
                ul.slider__list.portfolio__slider__list
                    li.slider__item.slider__item_active(data-text="PHP, JS, HTML, CSS")
                        a.slider__link(href="#1" title="Test Сайт школы онлайн образования")
                            img.slider__img(src="/assets/img/work-01.png")
                    li.slider__item.slider__item_next(data-text="PHP, PHP, PHP, PHP")
                        a.slider__link(href="#2" title="2 Test Сайт")
                            img.slider__img(src="/assets/img/work-02.png")
                    li.slider__item(data-text="JS, JS, JS, JS")
                        a.slider__link(href="#3" title="3 Test Сайт")
                            img.slider__img(src="/assets/img/work-03.png")
                    li.slider__item(data-text="HTML, HTML, HTML, HTML")
                        a.slider__link(href="#4" title="4 Test Сайт")
                            img.slider__img(src="/assets/img/work-04.png")
                    li.slider__item.slider__item_prev(data-text="CSS, CSS, CSS, CSS")
                        a.slider__link(href="#5" title="5 Test Сайт")
                            img.slider__img(src="/assets/img/work-05.png")
    .works-about.check-bg
        .wrapper
            .works-about-heading
                +svgItem("works-about-heading", "stars3")
                h2.heading.works-about__heading Что обо мне<br> говорят
            .opinions
                ul.opinions__list
                    li.opinions__item
                        .opinions__photo-wrap
                            img.opinions__photo(src="/assets/img/opinion_author-1.jpg")
                        .opinions__text.
                            Этот парень проходил обучение веб-разработке не где-то,
                            а в LoftSchool! 2 месяца только самых тяжелых испытаний
                            и бессонных ночей!
                        .opinions__author Ковальчук Дмитрий
                        .opinions__author-job — основатель Loftschool
                    li.opinions__item
                        .opinions__photo-wrap
                            img.opinions__photo(src="/assets/img/opinion_author-2.jpg")
                        .opinions__text.
                            Этот код выдержет любые испытания. Только пожалуйста,
                            не загружайте сайт на слишком старых браузерах!
                        .opinions__author Зар Захаров
                        .opinions__author-job — преподаватель
            .works-about-form
                form.works-about__form(method="post")
                    h3.heading-line.works-about-form__heading-line Связаться со мной
                    input.works-about__input(name="name" placeholder="Ваше имя")
                    input.works-about__input(name="email" placeholder="Ваш email")
                    textarea.works-about__textarea(name="text" placeholder="Ваше сообщение")
                    input.works-about__btn(disabled="disabled" name="submit" type="submit" value="Отправить")
                    input.works-about__btn.works-about__btn_clear(name="reset" type="reset" value="Очистить")
        .empty-footer.works-about__empty-footer