block variables
include ../common/__settings
include ../mixins/__common
doctype html
html
    head
        include head

    body
        include header
        include sidebar
        main.main(class={"main_compact": pageAlias === 'blog'})
            block content
        include footer