block variables
include ../common/__settings
include ../mixins/__common
doctype html
html
    head
        include head

    body
        include header
        include sidebar
        main.main
            block content
        include footer