block variables
include ../common/__settings
include ../mixins/__common
doctype html
html
    head
        include head

    body
        include header
        include sidebar
        - var mainAddClass = ""
        if (pageAlias === 'blog')
            - mainAddClass = "main_compact"
        main.main(class=mainAddClass)
            block content
        include footer