header.header(class={"header_theme_dark": pageAlias === 'works'})
    .wrapper.header__wrapper
        .header__side-wrap
            .left-side.header__left-side
                +socials(socialLinks)
            .right-side.header__right-side
                .menu.header__menu.menu_closed
                    a.menu__open-link(href="#menu")
                        +svgItem('menu', 'hamburger')
                    .menu__fullscreen
                        .wrapper
                            .right-side
                                a.menu__close-link(href="#")
                                    +svgItem('menu', 'hamburger')
                            +menu__list(menuHeader)
        .developer.header__developer
            //.header__developer-svg
            +svgItem("developer", "stars1")
            //-.developer_inner
            .developer__photo-wrap
                img.developer__photo(src="/assets/img/avatar.jpg")
            .developer__name Boris Dvorianchikov
            .developer__text Личный сайт веб разработчика
        .scroll-down
        .clearfix
    block header_heading