.preloader
    .preloader__spinner
        .preloader__animation
            include ./../../../source/images/preloader_night.svg
        .preloader__percents 0%
header.header.header_triangles(class={"header_theme_dark": pageAlias === 'works'} class={"header_compact": pageAlias === 'blog'}).check-bg
    .wrapper.header__wrapper
        .header__side-wrap
            .left-side.header__left-side
                +socials(socialLinks)
            .right-side.header__right-side
                .menu.header__menu.menu_closed
                    a.menu__open-link(href="#menu")
                        +svgItem('menu', 'hamburger')
                    .menu__fullscreen
                        .wrapper
                            .right-side
                                a.menu__close-link(href="#")
                                    +svgItem('menu', 'hamburger')
                            +menu__list(menuMain)
        .developer.header__developer(class={"header__developer_compact": pageAlias === 'blog'})
            //.header__developer-svg
            +svgItem("developer", "stars1")
            //-.developer_inner
            .developer__photo-wrap
                img.developer__photo(src="/assets/img/avatar.jpg")
            block header_developer-text
                .developer__name Boris Dvorianchikov
                .developer__text Личный сайт веб разработчика
        .scroll-down
    block header_heading