.preloader.check-bg
    img.hidden(src="/assets/img/preloader_night_bg.jpg")
    .preloader__spinner
        .preloader__animation
            include ./../../images/preloader_night.svg
        .preloader__percents %
- var headerAddClass = ""
if (pageAlias === 'works')
    - headerAddClass = "header_theme_dark"
else if (pageAlias === 'blog')
    - headerAddClass = "header_compact"
header.header.header_triangles(class=headerAddClass).check-bg
    .wrapper.header__wrapper
        .header__side-wrap
            .left-side.header__left-side
                +socials(socialLinks)
            .right-side.header__right-side
                .menu.header__menu
                    a.menu__open-link(href="#menu")
                        span.menu__hamburger
                    .menu__fullscreen
                        .wrapper
                            +menu__list(menuMain)
        - var headerDeveloperAddClass = ""
        if (pageAlias === 'blog')
            - headerDeveloperAddClass = "header__developer_compact"
        .developer.header__developer(class=headerDeveloperAddClass)
            //.header__developer-svg
            +svgItem("developer", "stars1")
            //-.developer_inner
            .developer__photo-wrap
                img.developer__photo(src="/assets/img/avatar.jpg")
            block header_developer-text
                .developer__name Boris Dvorianchikov
                .developer__text Личный сайт веб разработчика
        .scroll-down
    block header_heading